<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mine search</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MinesAPP/styles.css' %}">
</head>
<body>
    <div id="header">
        <h1 align="center">Enter mine data</h1>
        <p align="center">Select a mine and date range for production statistics.</p>
        <p align="center">For a single year choose the same in both year fields.</p>
    </div>
    <div align="center">
        <form action="{%  url 'name_search' %}" method="POST">
            {% csrf_token %}
            {{ form.name.label }}<br>
            {{ form.name }}<br><br>
            {{ form.start.label }}<br>
            {{ form.start }}<br><br>
            {{ form.end.label }}<br>
            {{ form.end }}<br><br>
            {{ form.county.label }}<br>
            {{ form.county }}<br><br>
            <input type="submit" value="Submit">
        </form><br>
        <a href="/">Main menu</a>
    </div>
</body>
</html>