<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mines query</title>
</head>
<body>
<h1>Mines query</h1>
<p>Search mines production by entering a name and year range</p>
<form action="/actions">
    <label for="mine">Enter mines name</label><br>
    <input type="text" id="mine" name="mine"><br>
    <label for="years">Select date range</label><br>
    <input type="date" id="years" name="years">
    <input type="date" id="years1" name="years1"><br>
    <input type="submit">
</form>

</body>
</html>